---
---
table.schedule
  width: 100%
  border: 1px solid gray
  border-collapse: separate

  td, th
    padding: 0.6ex
    border: solid 1px silver
    width: 11%
    text-align: center

  th
    text-align: left
    font-size: 120%

  td:first-child
    width: auto
    text-align: left

  caption
    background: yellow
